.loginLayout .top {
  padding-top: 48px;
  width: 100%;
  height: 220px;
  background: #e02142;
  text-align: center;
  color: #fff;
}
.loginLayout .top .topIcon {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url(@/assets/appIcon.png) center center no-repeat;
  background-size: contain;
  margin-bottom: 48px;
}
